# The Fast & The Curious - Project Report <br>

### Members: 
&emsp; Georgi Nikolov<br>
&emsp; Daniel Valencia<br>
&emsp; Lizbeth Gutierrez<br>
&emsp; (NAME)

### Project Sections:
&emsp; Section 1: Project Introduction <br>
&emsp; Section 2: Changes to Project Thus Far <br>
&emsp; Section 3: Data Cleaning <br>
&emsp; Section 4: Exploritory Data Analysis <br>
&emsp; Section 5: Visualization <br>
&emsp; Section 6: Machine Learning Analysis <br>
&emsp; Section 7: Reflection <br>
&emsp; Section 8: Next Steps <br>

## Section 1: Project Introduction

## Section 2: Changes to Project Thus Far <br>

## Section 3: Data Cleaning <br>

## Section 4: Exploritory Data Analysis <br>

## Section 5: Visualization <br>

## Section 6: Machine Learning Analysis <br>

In [1]:
import pandas as pd
import requests

url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"KPWK0","start":"2012-01-01","end":"2021-01-01","model":"true","units":"imperial"}
headers = {
	"X-RapidAPI-Key": "6fec950325msha54f5bc890b65e0p1fd8d0jsnc882976e1304",
	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
}
response = requests.request("GET", url, headers=headers, params=querystring)
json = response.json()
type(json['data'])
type(json['data'][0])
df = pd.DataFrame(json['data'])
df

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2012-01-01,36.7,30.9,45.0,NaN,None,268.0,17.2,None,NaN,None
1,2012-01-02,23.2,18.0,30.0,NaN,None,315.0,17.2,None,NaN,None
2,2012-01-03,21.2,12.9,28.0,0.000,None,NaN,9.3,None,1027.0,None
3,2012-01-04,33.3,26.1,41.0,0.000,None,NaN,7.9,None,1016.3,None
4,2012-01-05,38.5,25.0,50.0,0.000,None,NaN,6.7,None,1012.5,None
...,...,...,...,...,...,...,...,...,...,...,...
3284,2020-12-28,30.0,21.9,35.1,0.000,None,296.0,10.4,None,1024.9,None
3285,2020-12-29,25.7,18.0,32.0,NaN,None,145.0,6.3,None,NaN,None
3286,2020-12-30,32.0,27.0,36.0,0.291,None,246.0,13.3,None,1014.2,None
3287,2020-12-31,24.8,19.0,28.0,NaN,None,288.0,4.0,None,NaN,None
3288,2021-01-01,30.0,19.0,36.0,NaN,None,28.0,7.8,None,NaN,None

## Section 7: Reflection <br>

## Section 8: Next Steps <br>